body>.text{
    font-family: Arial, Helvetica, sans-serif;
}
#Navbar_container{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #161C2E;
}

#nav_logo{
    width: 3vh;
    object-fit: contain;

}
#options>.option>.textl{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#EFEEEA ;


}