/* ScrollingCards.css */

.scroll-card-wrapper {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  /* background: linear-gradient(to right, #1e1e3f, #3b1b6f); */
  padding: 20px 0;
  position: relative;
}

.scroll-card-content {
padding: 10vh 0px;
  display: flex;
  white-space: nowrap;
  width: max-content;
}

.scroll-card {
  flex: 0 0 auto;
  /* min-width: 240px; */
  min-width: 20vw;
  max-width: 20vw;
  height: 50vh;
  margin: 0 16px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
}
